*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.myContainer{
        display: flex;
        justify-content: space-around;
	flex-wrap: wrap;
        padding-top: 2%;
}
#head{
        color:red;
        position:fixed;
        right:50px;
        top:20px;
        z-index:2;
        font-weight:bold;
}

.card{
	margin: 0.5%;
        width: 22% !important;
}
.home{
        font-size:1.5em;
        margin-top:20px;
        margin-bottom:20px;
        margin-left:2.4%;
        padding:1% 0 0 1%;
}

.home a{
        background-color:red;
        text-decoration: none;
        color:white;
        padding:1%;
        border-radius: 2%;

}
.home a:hover{
        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.card:hover{
	box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.1);
}

.card .linkStyle{
	font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 500;
        color: #000;
        background-color: #2ee69d;
        border: none;
        border-radius: 0%;
        box-shadow: 0px 2px 10px 0 rgb(0 0 0 / 20%);
        transition: all 0.3s ease-out 0s;
        cursor: pointer;
        outline: none;
        padding: 15px;
}

.card .linkStyle:hover{
	background-color: #2ee69d;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
}