*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.custom{
        width: 30%;
        border: none;
        border-width: 0;
        height: 30vh;
        list-style: none;
}

.custom a{
        text-decoration: none;
        font-style: oblique;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5%;
        color: white;
}

.custom a h1 {
    background-color: black;
    padding: 0 2% 0 2%;
    border-radius: 8%;
}
.custom a:hover{
        width: 112%;
        height: 34vh;
        position: relative;
        right: 6%;
        bottom: 2vh;
        box-shadow: 2px 4px 15px  2px rgb(0 0 0 / 20%);

}

.food{

        background: url('./img/food.jpg');
        background-size: cover;
}

.groceries{
        background: url('./img/groceries.jpg');
        background-size: cover;
}

.dresses{

        background: url('./img/dresses.jpg');
        background-size: cover;
}

.electronics{

        background: url('./img/electronics.jpg');
        background-size: cover;
}

.medics{

        background: url('./img/medics.jpg');
        background-size: cover;
}

.box{
        height: 95vh;
        background-image: linear-gradient(180deg, #bb0c0c, #fff);
        padding-top: 0.5%;
        margin-top: 0.4%;
}

.box:hover{
        box-shadow: 2px 5px 8px 2px rgba(0, 0, 0, 0.2);

}

.flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 82vh;
        margin-top: 2%;
}

.title{
        padding: 2px;
        color: #fff;
        font-family: cursive;
}